body {
    background-color: pink;
}


label {
    margin-bottom: 5px;
}

button {
    display: block;
}


#guests {
    width: 40px;
}

#date {
    width: 100px;
}

#email {
    width: 110px;
}

div {
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
