body {
    background-color: pink;
}


label {
    margin-bottom: 5px;
}

button {
    display: block;
}


#guests {
    width: 40px;
}

#date {
    width: 100px;
}

#email {
    width: 110px;
}

div {
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#menuBar {
    display: flex;
}

img {
    width: 200px;
    height: auto;
}