@font-face {
    font-family: 'Boston Angel';
    src: url('fonts/BostonAngelRegular.ttf') format('truetype'),
        url('fonts/BostonAngelRegular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Boston Angel';
    src: url('fonts/BostonAngelThin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Boston Angel';
    src: url('fonts/BostonAngelLight.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
}



body {
    background-color: #feffec;
}

#main-header {
    font-family: 'Boston Angel';
    font-weight: 300;
    font-size:  3.2em;
    display: flex;
    justify-content: center;
}

#sub-header {
    font-family: 'Boston Angel';
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Boston Angel';
    font-weight: 350;
}

#column-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#about-us-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Boston Angel';
    font-weight: 300;
    
}

#contact-bar {
    background-color: black;
}

#inner-content {
    max-width: 70%;
    margin: auto;
}

#menu-section {
    flex:1;
}

label {
    margin-bottom: 5px;
}

button {
    display: block;
}


#guests {
    width: 40px;
}

#date {
    width: 100px;
}

#email {
    width: 110px;
}

div {
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#menuBar {
    display: flex;
}

img {
    width: 200px;
    height: auto;
}